body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 20px 50px;
}
.btn-publish{
    margin-bottom: 20px;
    float: right;
}

.btn-comment{
    margin: 10px 0;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body-comment{
    padding-top: 6px;
}

.text_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.jumbotron{
    margin: 50px;
}

.comment{
    margin: 10px 0;
}

.sub-comment{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}

.comment-sp{
    margin-top: 15px;
    margin-bottom: 0;
}

.comment-ssp{
    margin-top: 5px;
    margin-bottom: 8px;
}

.question-desc{
    padding-left: 0;
}

.question-tag{
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.question-select-tag{
    display: none;
    margin-top: 12px;
}

.publish-allTag{
    margin-top: 8px;
}

.question-select-tag .label-info{
    white-space: normal;
}

.menu{
    margin-top: 5px;
    color: #999;
}

.menu .icon{
    margin-right: 6px;
    font-size: 16px;
    cursor: pointer;
}

.menu .active{
    color: #286090;
}

.menu .icon:hover{
    color: #286090;
}
